/* sellsdiy.css */
.sell-diy-page {
  background: linear-gradient(to right, #017a01, #f1f2dc);
  padding: 20px;
}
.sell-diy-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #5abe5a;
  text-align: center;
  position: relative;
}



.sell-diy-container h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.sell-diy-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.form-input {
  width: calc(100% - 40px);
  padding: 15px;
  margin-bottom: 30px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-button {
  background-color: #017a01;
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #02ae02;
}

.form-input[type="file"] {
  margin-bottom: 30px;
}

.error-message {
  color: #ff4136;
  font-size: 14px;
  margin-top: -10px;
}

/* Responsive Design */

@media (max-width: 600px) {
  .sell-diy-container {
    width: 90%;
  }

  .form-input {
    width: calc(100% - 30px);
  }
}

@media (max-width: 400px) {
  .form-label {
    font-size: 16px;
  }

  .form-input,
  .form-button {
    font-size: 16px;
  }
}
