/* homepage.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6; /* Background color for the entire page */
}
.homepage{
  background: linear-gradient(to right, #017a01, #f1f2dc);
  min-height: 100vh;

}
.home-page {
  text-align: center;
  padding: 20px;
  
}

.home-header {
  color: #f4f7f6;
}

.home-page header {
  background: linear-gradient(45deg, #017a01, #02ae02); /* Green gradient */
  color: #f4f7f6;
  padding: 20px;
  border-radius: 0 0 20px 20px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
}

.home-page header h1 {
  margin: 0;
}
.recycle-image {
  margin-top: 20px;
}

.recycle-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.quick-actions {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.action-button {
  text-decoration: none;
  background-color: #017a01;
  background-image: linear-gradient(45deg, #017a01, #02ae02); 
  color: #f4f7f6;
  padding: 15px 30px;
  border-radius: 30px; /* Rounded button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Button shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.action-button:hover {
  transform: translateY(-5px); /* Button hover effect */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Button hover shadow */
  background-image: linear-gradient(45deg,#02ae02, #017a01); 
}
@media screen and (max-width: 675px) {
  .quick-actions {
    flex-direction: column;
    gap: 2pc;
  }
  .action-button{
    /* width:; */
  }
}
footer {
  background: #333;
  color: #f4f7f6;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
