/* buyscrap.css */

.scrap-container {
    padding: 20px;
    background-color: #f0f4f8;
  }
  
  .scrap-header {
    text-align: center;
    color: #2c3e50;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .scrap-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .scrap-card {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .scrap-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .scrap-image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .scrap-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .scrap-image:hover {
    transform: scale(1.1);
  }
  
  .scrap-info {
    padding: 15px;
    text-align: center;
  }
  
  .scrap-title {
    color: black;

    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .scrap-description {
    color: black;
    font-size: 1rem;
  }
  
  .scrap-details {
    color: #464646;
    font-size: 0.9rem;
    border-top: 1px solid #ecf0f1;
    padding-top: 3px;
  }
  .scrap-price{
    color: #4CAF50;
    font-weight: bolder;
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .scrap-user, .scrap-contact, .scrap-email, .scrap-location {
    margin-bottom: 5px;
  }
  
  .scrap-loading {
    text-align: center;
    font-size: 1.5rem;
    color: #2c3e50;
  }
  
  /* Responsive layout for smaller screens */
  @media (max-width: 768px) {
    .scrap-item {
      width: calc(50% - 20px); /* Two items per row with gap */
    }
  }
  
  @media (max-width: 480px) {
    .scrap-item {
      width: 100%; /* Full width on very small screens */
    }
  }