/* order.css */

.orders-page {
  padding: 20px;
  background-color: #f5f5f5;
}

.page-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.orders-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.order-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

.order-id {
  font-size: 18px;
  margin-bottom: 10px;
}

.order-date {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.order-amount, .order-payment {
  font-size: 16px;
  margin-bottom: 10px;
}

.order-items-title {
  font-size: 16px;
  margin-top: 20px;
}

.order-cart {
  color: white;
  font-size: 14px;
  padding: 10px;
  transition: background-color 0.3s;
}
.order-cart-items{
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(123, 117, 117);
  color: white;
  border-radius: 10px;
}

.no-orders-message {
  text-align: center;
  font-size: 18px;
  color: #888;
  margin-top: 50px;
}
