body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  .group-post-page{
    background: linear-gradient(to right, #017a01, #f1f2dc);

  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .title {
    text-align: center;
    font-size: 2.5rem;
    color: #f4f7f6;
    margin-bottom: 30px;
  }
  
  .textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f4f7f6;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #017a01;
    color: #f4f7f6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #02ae02;
  }
  
  .post-list {
    list-style: none;
    padding: 0;
  }
  
  .post-item {
    background-color: #5abe5a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .post-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .content {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .details {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .comment-list {
    list-style: none;
    padding-left: 20px;
  }
  
  .comment-item {
    margin-top: 10px;
  }
  
  .comment-content {
    font-size: 0.9rem;
    color: #333;
  }
  
  .comment-details {
    font-size: 0.7rem;
    color: #666;
  }
  .show-comment {
    padding: 5px 12px;
    /* background-color: #007bff; */
    text-decoration: none;
    color: #f4f7f6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
  }
  
  .show-comment:hover {
    transform: translateY(-5px);
    color: #f4f7f6;
  }  