/* Container Styles */
.groups-page{
  background: linear-gradient(to right, #017a01, #f1f2dc);

}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent !important;
  }
  
  /* Title Styles */
  .title {
    text-align: center;
    font-size: 2.5rem;
    color: #f4f7f6;
    margin-bottom: 30px;
  }
  
  /* List Styles */
  .group-list {
    list-style: none;
    padding: 0;
  }
  
  .group-item {
    background-color: #5abe5a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .group-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .group-name {
    font-size: 1.5rem;
    color: #f4f7f6;
  }
  
  .group-details {
    font-size: 1rem;
    color: #f4f7f6;
    margin-top: 10px;
  }
  
  .group-link {
    text-decoration: none;
    color: inherit;
  }
  
  .group-join {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .group-join:hover {
    background-color: #0056b3;
  }
  