/* landingpage.css */

body {
    /* margin: 0; */
    /* padding: 0; */
    font-family: 'Arial', sans-serif;
  }
  .landing-container{
    text-align: center;
  }
  .landing-page {
    text-align: center;
    padding: 20px;
  }
  
  .landing-page header {
    background-color: #017a01;
    color: white;
    padding: 20px;
    /* width: 100%; */
  }
  
  .lanmding-page header h1 {
    margin: 0;
  }
 
  .features {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
  }
  
  .feature {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 10px;
  }
  
  @media screen and (max-width: 561px) {
    .features {
      flex-direction: column;

    }
    
  }
  .creator-section {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 40px;
  }
  
  .register-section {
    background-color: #e6e6e6;
    padding: 40px;
    margin-bottom: 30px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  