/* navigationbar.css */

/* .navigation-container {
  text-align: center;
} */

.navigation {
  background-color: #2ebe68;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  color: white;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #0c9f47;
}

.active {
  background-color: #0c9f47;
}

.avatar-container {
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
}

.menu-dialog {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: #2ebe68;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.menu-dialog ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.menu-dialog li {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
  border-bottom: 1px solid #ccc; 
}

.menu-dialog li:hover {
  background-color: #0c9f47;
}
