/* loginpage.css */
body{
  font-family:sans-serif ;
  user-select: none;
}
html, body { height: 100%;   width: 100%; margin: 0; padding: 0; }

.login-page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #017a01, #f1f2dc);
}
.login-container {
  max-width: 400px;
  margin: 1pc auto;
  padding: 20px;
  box-shadow: 8px 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: #5abe5a;
}
.login-image{
  width: 269px;
  height: 273px;
}
.login-image img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.login {
  text-align: center;
  color: #f4f7f6;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.email-label,
.password-label {
  margin-bottom: 6px;
  color: #f4f7f6;
}

.login-email,
.login-password {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #f4f7f6;
  border-radius: 4px;
}

.forgot-password,
.create-account {
  margin-top: 10px;
  text-align: right;
}

.login-button {
  margin-top: 10px;
  background-color: #017a01;
  color: #f4f7f6;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.login-button:hover {
  background-color: #02ae02; 
}
.custom-link{
  text-decoration: none;
  color: #017a01;
  font-weight: bolder;

}
.custom-link:hover{
  color: #017a01;
  font-weight: bolder;
}
.password-input-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.login-password {
  flex: 1;
  padding-right: 30px; /* Adjust as needed for spacing */
}

.eye-icon {
  cursor: pointer;
  margin-bottom: 10px;
}
.login-error{
  color:rgb(239, 43, 43)
}