.register-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #017a01, #f1f2dc);
  align-items: center;
  overflow: hidden;
}

.register-image {
  width: 269px;
  height: 273px;
}
@media screen and (max-width: 941px) {
  
}
.register-image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.register-container {
  background-color: #b8e8ba;
  margin: 1pc auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 8px 1px 8px rgba(0, 0, 0, 0.1);
  /* width: 325px;
  height: 550px; */
  text-align: center;
}

.register-container h2 {
  color: #f4f7f6;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container label {
  margin-top: 9px;
  font-weight: bold;
  text-align: left;
  color: #f4f7f6;
}

.register-container input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #f4f7f6;
  border-radius: 4px;
  box-sizing: border-box;
}

.register-container button {
  margin-top: 10px;
  background-color: #017a01;
  color: #f4f7f6;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.register-container button:hover {
  background-color: #02ae02;
}

.error-message {
  color: #d9534f;
  margin-top: 5px;
  font-size: 14px;
}

/* Additional styles for the role dropdown */
.register-container select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #f4f7f6;
  border-radius: 4px;
  box-sizing: border-box;
}
